<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="io.smallrye.stork" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="stork-core-2.7.7.jar"/>
        <resource-root path="stork-api-2.7.7.jar"/>
        <resource-root path="stork-service-discovery-static-list-2.7.7.jar"/>
    </resources>

    <dependencies>
        <module name="org.eclipse.microprofile.config.api"/>
        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.annotation.api"/>
        <module name="org.jboss.logging"/>
        <module name="io.smallrye.config" services="import"/>
    </dependencies>
</module>
